:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --speed: 500ms;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0 auto;
  height: 92.1px;
  width: 390px;
  min-width: 390px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  height: 92.1px;
  width: 390px;

}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  width: calc(var(390 * .2));
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.76px;
  flex: 1 0 0;
  height: 64px;
  padding: 11.44px 0px 9.84px 0px;
  background-color: #213547;
  color: #2D3648;
}

.svg-icon {
  cursor: pointer;
}

.add-icon {
  display: flex;
  padding: 16.64px;
  justify-content: center;
  align-items: center;
  gap: 8.32px;

  border-radius: 230.88px;
  background: var(--Light-Green, #009479);
  
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 415px) { 
  .main-container {
    margin: 0 auto;
    height: 100vh;
    border: 1px solid gray;
  }
}