:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-container {
  max-height: 100%;
  width: auto;
}

a.navlink,
a.navlink:visited {
  display: block;
  width: 4rem;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  /* border: 2px solid pink; */
}

a.navlink:active,
a.navlink:hover {
  color: #009479;
}